@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-site: #0281C7;
    --color-link: #0063C0;
    --color-btn-primary-hover: #0367A1;
    --color-btn-primary-active: #075785;
    --color-btn-secondary: #969696;
    --color-btn-secondary-hover: #727272;
    --color-btn-secondary-active: #696969;
    --color-btn-danger: #ff3131;
    --color-btn-danger-hover: #ff2222;
    --color-btn-danger-active: #ff1818;

    --color-subtitle: #999;
    --color-modal: rgba(133, 133, 133, 0.5);
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    width: 100vw;
    font-family: 'Inter';
    display: flex;
    flex-direction: column;
}

#root {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}